* {
                       margin: 0;
                       padding: 0;
                       font-family: sans-serif;
}

.outline {
                       border: 2px solid rgb(206, 220, 218);
                       margin: 15px;
                       box-shadow: 0px 20px 28px rgb(1, 22, 17), 0px 10px 10px rgrgb(87, 96, 94);
                       border-radius: 2%;
}

nav ul li a {
                       color: rgb(0, 200, 255);
                       font-size: x-large;
                       font-weight: 700;
                       text-decoration: none;
                       text-shadow: 0px 0px 10px blue;
                       text-transform: lowercase;
                       margin-top: 10px;


}

nav ul li a:hover {
                       color: bisque;
                       font-size: x-large;
                       font-weight: 700;
                       text-decoration: none;
                       text-shadow: 0px 0px 10px rgb(15, 42, 248);
                       text-transform: lowercase;
                       margin-top: 10px;

}

.body {
                       background-image: url('codsoftpic/6.jpg');
                       background-position: center;
                       background-repeat: no-repeat;
                       background-attachment: scroll;
                       background-size: cover;
}



.hero {
                       position: relative;
                       margin-left: 250px;
                       margin-right: 100px;
                       align-items: center;
                       margin-top: 10px;



}


nav {
                       display: flex;
                       width: 80%;
                       justify-content: space-evenly;
                       margin-top: 25px;

                       padding-right: 70px;

}

nav ul li {
                       display: inline-block;
                       list-style: none;
                       margin: 10px 20px;


}

.detail {
                       margin-left: 20%;
                       margin-top: 8%;

}

.detail h1 {
                       color: rgb(9, 13, 143);
                       margin-right: 43px;

                       margin-bottom: 15px;
                       margin-top: 10px;


}

.detail h4 {
                       color: rgb(179, 220, 184);
                       margin-right: 43px;
                       text-shadow: 0px 0px 10px rgb(21, 149, 130);
                       margin-left: 160px;
                       margin-top: 30px;
}

.detail h2 {
                       color: rgb(198, 225, 214);
                       margin-right: 43px;
                       text-shadow: 0px 0px 10px rgb(5, 60, 40);
                       margin-left: 100px;
                       margin-top: 10px;

}


span {
                       color: rgb(7, 154, 159);
                       text-shadow: 0px 0px 10px rgb(1, 38, 20);

}


.detail p {
                       color: rgb(20, 161, 100);
}

.hero h3 {
                       color: rgb(114, 142, 234);
                       font-display: center;
                       font-size: xx-large;

                       margin-left: 310px;
                       border-radius: 70px;
                       border: 2px rgb(21, 79, 213) solid;
                       background-color: rgb(13, 20, 18);
                       margin-right: 500px;
                       padding: 10px;
                       margin-top: 50px;


}

.detail a {
                       color: #0a1010;
                       border-radius: 40%;
                       text-decoration: none;
                       border: 2px solid #071bf2;
                       background-color: rgb(65, 65, 145);
                       padding: 10px;
                       margin-left: 140px;
                       margin-top: 50px;
                       top: 30;
                       box-shadow: 0px 4px rgb(12, 4, 248);


}

.pic {
                       border: solid 2px rgb(1, 26, 25);
                       margin-bottom: 90px;
                       margin-right: 250px;
                       box-shadow: 2px solid rgb(67, 13, 193);

                       background-attachment: fixed;
                       background-repeat: no-repeat;
                       background-size: contain;
                       width: 220px;
                       height: 280px;
                       margin-left: 600px;
                       position: absolute;
                       bottom: 0;
                       right: 100px;
                       border-radius: 50%;
                       margin-top: 200px;



                       border: 3px darkgrey solid;
}

#about {
                       margin-top: 100px;
}

.about {
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       border: #000907 2px solid;
                       margin-top: 300px;
                       padding-bottom: 150px;
                       padding-top: 100px;
                       margin-left: 50px;
                       margin-right: 50px;
                       box-shadow: 0px 20px 28px rgb(245, 252, 250), 0px 10px 10px rgb(156, 160, 159);
}

.about-img {
                       border: solid 2px rgb(1, 16, 15);

                       border: 2px solid #2446d0;
                       box-shadow: 0px 20px 20px rgb(135, 126, 241), 0px 10px 10px rgb(115, 184, 234);

                       background-repeat: no-repeat;
                       background-size: contain;
                       width: 320px;
                       height: 420px;
                       margin-right: 750px;
                       margin-top: 70px;
                       position: absolute;


                       border-radius: 20%;

}

.about-content {
                       margin-left: 450px;
                       margin-right: 50;
}

.heading {


                       color: rgb(26, 87, 166);
                       font-display: center;
                       font-size: xx-large;
                       text-shadow: 0px 3px 3px rgb(0, 6, 5);

                       border-radius: 70px;
                       border: 2px rgb(26, 159, 166) solid;
                       background-color: rgb(192, 205, 244);
                       margin-right: 570px;
                       padding: 10px;
                       margin-bottom: 28px;

}

.fd {
                       margin-bottom: 2px;
                       color: #3545c4;
                       margin-left: 5px;
}

.about-p {
                       color: rgb(142, 190, 175);
                       font-size: x-large;
                       text-shadow: 0px 1px 10px rgb(13, 39, 35);
}

.skill h1 {
                       align-items: center;
                       margin-left: 180px;
                       color: #2f031f;
                       text-shadow: 0px 3px 3px rgb(18, 123, 161);

}

.skill h3 {
                       margin: 5px;

                       color: #013726;
                       text-shadow: 0px 1px 3px rgb(2, 40, 31);
}

.skill {
                       width: 500px;
                       margin: 60px auto;
                       color: #2f031f;
                       padding: 20px;
                       box-shadow: 0px 20px 28px rgb(198, 201, 27), 0px 10px 10px rgb(111, 118, 11);
                       background-color: #e8cb56;
                       border: solid rgb(117, 142, 4) 2px;
                       margin-top: 200px;
                       border-radius: 100px 100px 100px 100px;
}

.skill li {
                       margin: 20px 0;
                       padding: 10px;
}

.bar {
                       background: #1e1e19;
                       display: block;
                       height: 15px;
                       border-radius: 10px;
                       border: 2px rgb(193, 223, 25) solid;
                       box-shadow: 0px 1px 3px rgba(42, 114, 96, 0.886), 0px 1px 3px rgba(27, 126, 101, 0.876);
                       overflow: hidden;

                       transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {

                       box-shadow: 0px 14px 28px rgba(7, 131, 115, 0.354), 0px 10px 10px rgba(5, 190, 222, 0.206);
}

.bar span {
                       height: 15px;
                       float: left;
                       background: linear-gradient(135deg, rgb(39, 8, 8))0%, rgb(126, 92, 7)100%;
}

.html {
                       width: 97%;
                       animation: html 3s;
                       background-color: rgb(255, 0, 106);
}

.css {
                       width: 95%;
                       animation: css 3s;
                       background-color: rgb(98, 0, 255);
}

.javascript {
                       width: 85%;
                       animation: javascript 3s;
                       background-color: rgb(255, 72, 0);
}

.bootstrap {
                       width: 70%;
                       animation: php 3s;
                       background-color: rgb(255, 0, 230);
}

@keyframes html {
                       0% {
                                              width: 0%;
                       }

                       100% {
                                              width: 90%;
                       }
}


@keyframes css {
                       0% {
                                              width: 0%;
                       }

                       100% {
                                              width: 70%;
                       }
}


@keyframes javascript {
                       0% {
                                              width: 0%;
                       }

                       100% {
                                              width: 58%;
                       }
}


@keyframes bootstrap {
                       0% {
                                              width: 0%;
                       }

                       100% {
                                              width: 40%;
                       }
}



.block {
                       display: flex;

}

.color-container {
                       border-color: rgb(163, 163, 163);
                       background: rgb(250, 250, 250);




}

.project-img {
                       border-radius: 2rem;
                       width: 80%;
                       height: 90%;
                       border: 3px solid rgb(12, 0, 100);

}



.project-btn {
                       color: #032616;
                       border-color: #032616;
                       background-color: #2e07f2;
                       padding: 5px;
                       border-radius: 5px;
                       margin-left: 20px;
                       text-decoration: none;
                       font-size: x-large;
}

.project {

                       margin: 300px;
                       padding: 20px;



}

.p-h1 {
                       align-items: center;
                       margin-left: 200px;
                       padding-bottom: 50px;
                       font-size: 50px;
                       color: #050d9b;
                       text-shadow: 0px 3px 3px rgb(18, 100, 200);

}

#project {

                       margin-top: -200px;
}


.contact {
                       display: flex;
                       flex-wrap: wrap;
                       justify-content: center;
                       padding: 20px;





}

.contact-info,
.contact-form {
                       width: 100%;
                       max-width: 400px;
                       margin: 10px;
                       text-align: center;
                       color: rgb(245, 18, 184);
                       font-size: 25px;
}

.contact-info h2,
.contact-form h2 {
                       font-size: 24px;
                       margin-bottom: 28px;


                       color: rgb(196, 219, 211);
                       font-size: x-large;
                       font-weight: 700;

                       text-shadow: 0px 0px 10px rgb(4, 4, 248);
                       text-transform: uppercase;

}

.contact-form form {
                       text-align: center;
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
                       display: block;
                       width: 100%;
                       margin-bottom: 10px;

}

.contact-form button {
                       background-color: rgb(190, 209, 202);
                       color: rgb(73, 6, 243);
                       text-decoration: none;
                       border: 2px solid rgb(213, 232, 226);
                       font-weight: bold;
                       transform: 4s;
                       padding: 10px 0px;
                       text-shadow: 0px 0px 10px rgb(4, 41, 248);
                       box-shadow: 0px 5px 10px rgb(49, 4, 248);
                       border-radius: 30%;
}

.contact-form button:hover {
                       background-color: rgb(34, 17, 219);
                       color: rgb(217, 244, 235);
                       border: 2px solid rgb(35, 21, 92);
                       cursor: pointer;
                       text-shadow: 0px 0px 10px rgb(19, 44, 136);
                       box-shadow: 0px 5px 10px rgb(15, 4, 115);
                       border-radius: 30%;

}

.contact-form label {
                       text-align: left;
                       color: rgb(209, 232, 219);
                       text-shadow: 0px 0px 10px rgb(21, 19, 146);

}

.contact-form input,
.contact-form textarea {
                       padding: 8px;
}

.contact-info p {
                       padding: 15px;

}

.footer {

                       background-color: rgb(2, 12, 61);
                       padding: 20px;
}

.footer h5 {

                       font-size: 25px;
                       text-align: center;
                       color: rgb(232, 227, 219);

}

.resume h1 {
                       align-items: center;
                       margin-left: 45%;
                       color: #d8e7e2;
                       text-shadow: 0px 3px 3px rgb(3, 0, 11);
                       font-weight: 700;
                       font-size: xx-large;
                       margin-top: 50px;
}

#resume {
                       margin-top: -200px;
}

.resume {
                       padding-bottom: 100px;


}

.resume-a {
                       align-items: center;
                       margin-left: 40%;
                       margin-top: 40px;

}

.resume a {
                       align-items: center;
                       padding: 20px;
                       color: #0b032f;
                       text-shadow: 0px 3px 3px rgb(22, 59, 161);
                       border: 1px solid rgb(17, 37, 170);
                       font-size: x-large;
                       border-radius: 50%;
                       text-decoration: none;
                       background-color: #4b73f6;
}                      